.about {
  margin-top: 143px;
  padding-bottom: 54px;
  border-bottom: 1px solid rgb(196, 189, 189);
  display: flex;
}

.about:before {
  content: "";
  display: block;
  min-width: 490px;
  height: 505px;
  background: url(../../pictures/content/gates.png) center center / cover no-repeat;
}

.about__container {
  background: url(../../pictures/content/mountains.png) no-repeat;
  padding: 43px 81px 65px;
  max-width: 785px;
  margin-left: -140px;
  margin-top: 100px;
}

.about__text {
  padding-right: 105px;
  color: black;
  line-height: 1.8;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}