.about {
  margin-top: 143px;
}

.about__container {
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(196, 189, 189);
}

.about__container:before {
  content: "";
  display: inline-block;
  width: 490px;
  height: 505px;
  background: url(../../pictures/content/gates.png) center center / cover no-repeat;
}

.about__content {
  display: inline-block;
  background: url(../../pictures/content/mountains.png) no-repeat;
  padding: 66px 81px 82px;
  max-width: 785px;
  margin-left: -140px;
  margin-top: 95px;
}

.about__text {
  padding-right: 105px;
  color: black;
  line-height: 1.8;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}