button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.button {
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 38px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background: #DA0100;
  transition: 0.5s;
}

.button--light {
  color: #F5170E;
  background: #fff;
  border-style: solid;
  border-color: #F5170E;
  padding: 18px 29px;
}

.button--light:hover {
  color: #fff;
  background: #F5170E;
  transition: 0.5s;
}

.button--dark {
  background: #8E8E8E;
}

.button--dark:hover {
  background: #2B2B2B;
}

.tours__button {
  margin-top: auto;
}

.about__button {
  margin-top: 62px;
}

.service__button {
  padding: 16px 38px;
}

.input__button {
  padding: 18px 55px;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
}

.form__button {
  margin-right: 30px;
  color: #fff  ;
}

.form__button:last-child {
  margin-right: 0px;
}