.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  display: block;
  margin-bottom: -8px;
}

.contacts__schedule {
  font-size: 13px;
  text-decoration: underline;
}

.contacts__call {
  color: #9A9A9A;
  font-size: 11px;
}