.header__content {
  padding-top: 29px;
  margin-bottom: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--right {
  justify-content: flex-end;
}

