.hello__container {
  width: 50%;
  min-width: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hello__title {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hello__subtitle {
  font-size: 18px;
  margin-bottom: 32px;
}