.logo {
  display: block;
  margin-right: 79px;
}

.logo__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logo--inner {
  margin-right: 65px;
  height: 42px;
  width: 98px;
}

.logo--input {
  height: 119px;
  width: 279px;
  margin-right: 0;
}