.logo {
  display: block;
  margin-right: 79px;
}

.logo__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logo__img-inner {
  height: 42px;
  width: 98px;
}

.logo__inner {
  margin-right: 65px;
}