.menu__list {
  display: flex;
  justify-content: space-between;
  gap: 55px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
  transition: color 0.5s;
}

.menu__link:hover {
  color: #DA0100;
}

.menu__link-active {
  color: #DA0100;
}