.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__title {
  margin-right: 25px;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  text-align: center;
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
}

.pagination__item--active .pagination__link {
  background: #fff;
  color: #F5170E;
}

.pagination__dark .pagination__title {
  color: black;
}

.pagination__dark .pagination__item {
  color: black;
}

.pagination__dark .pagination__item--active .pagination__link {
  background:#F5170E;
  color: #fff;
}