.partners--bk--grey {
  background: #F4F5F5;
}

.partners__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 84px;
}

.partners__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
  margin-bottom: 114px;
}

.partners__link {
  display: flex;
  text-decoration: none;
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.partners__link:hover {
  filter: grayscale(0);
}

