.service {
  display: flex;
  justify-content: center;
  background: #fff;
}

.service__content {
  width: 1141px;
  margin: 0 auto;
}

.service__container {
  padding-top: 100px;
  padding-bottom: 89px;
}

.service__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 49px;
  margin-bottom: 65px;
}

.service__item {
  display: flex;
}

.service__inform {
  margin-left: 56px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-direction: column;
}

.service__text {
  color: #303030;
  line-height: 1.72;
}

.service__img {
  display: block;
  width: 660px;
  height: 333px;
  object-fit: cover;
}