.tours {
  margin-top: 244px;
}

.tours__list {
  min-height: 449px;
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}

.tours__item {
  min-height: 144px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  width: calc(100% / 3 - 17px);
  display: flex;
  flex-direction: column;
}

.tours__item:last-child {
  margin-right: 0px;
}

.tours__title {
  margin-bottom: 27px;
}

.tours__img {
  display: block;
  min-width: 100%;
  object-fit: cover;
}

.tours__content {
  padding: 32px 22px 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.tours__subtitle {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.tours__features {
  margin-top: 22px;
  display: flex;
  justify-content: flex-start;
}

.tours__feature {
  margin-right: 35px;
  display: flex;
}

.tours__feature:last-child {
  margin-right: 0;
}

.tours__feature-img {
  margin-right: 6px;
}

.tours__feature-text {
  color: #666666;
  vertical-align: top;
}

.tours__text {
  margin: 20px auto;
  color: #303030;
  font-size: 14px;
}