.wrapper {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  min-width: 1200px;
  min-height: 100%;
  overflow: hidden;
}

.wrapper--main {
  background: url(../../pictures/background/1.png) no-repeat,
  url(../../pictures/background/2.png) bottom 230px left 0px no-repeat; 
}

.wrapper--inner {
  background: url(../../pictures/background/headline\ 1.png) no-repeat;
}

.wrapper--input {
  background: url(../../pictures/background/bg.png) no-repeat;
}